# Virtual Environments
venv/
venv_win/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Misc
node_modules/
.venv
